#root {
  max-width: 1280px;
  margin: 0 auto;
}
.container {
  width: 100%;
  padding-inline: 1rem;
}


.upload-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
  text-align: center;
}
.upload-form_inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 1rem;
}
.upload-form_inputs > label {
  font-size: 2.5rem;
  color: rgb(84, 162, 84);
}
.upload-form_inputs > label :hover {
 cursor: pointer;
 color:  rgb(113, 25, 176);
}
.upload-form_display {
  width: 70%;
  align-items: center;
  padding: 2rem;
}
.upload-form_inputs > select {
  width: 30%;
  height: 2rem;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
}

.displayImg {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: contain;   
}
.row-form { 
  width: 100%;
}

.row-display {
  margin-top: 1rem;
  border-top: 2px solid #888;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.card {
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 5px;
  margin-top: 1rem;
}
.card > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}
.del {
  background-color: #888;
  color: red;
  width: fit-content;
  font-size: larger;
  padding: 0.3rem 0.4rem;
}
.del:hover {
  cursor: pointer;
  background-color: red;
  color: #fff;
}

